*{
    margin:0;
    padding:0px;
    font-family: 'Signika', sans-serif;
    box-sizing: border-box;
    color:gray;


}
body{
    background-image: linear-gradient(180deg, #ff9051, #ff6737);
    background-color:#ff6737;
    background-repeat: no-repeat;
    padding: 0;
    
}
form{
    
    padding: 15px 25px 15px 25px;
}
input, select {

    width: 100%;
    display: inline-block;
    border:none;
    padding:15px;
    background-color:#f1f1f1;
    margin:5px 0 22px 0;
    
}
input:focus, select:focus{
    outline:none;
}
.container{
    background-color:white;
    width: 35%;
    height: 55%;
    margin:10% auto 30% auto;
    border-radius:15px;
    border: solid 2px;
}
button{
    background-color:#ff6737;
    color:white;
    padding:14px 20px;
    border:none;
    cursor:pointer;
    width: 100%;
}
span{
    display:none;
    position: absolute;
    margin-left: 330px;
    color: red;
}
